* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  background-color: #1f2937;
  height: 73px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 32px;
}
.logo {
  font-weight: bold;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #;
}
